@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply bg-backgroundcolor text-textcolor font-sans;
}
h2, h3, h4, h5 {
    @apply tracking-heading
}
p, input, button{
    letter-spacing: .04em;
}
button {
    font-weight: 600;
}
h1{
    font-weight: 600;
    font-size: 1.3rem;
    opacity: .75;
    letter-spacing: .03em;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
#content-container{
    @apply p-4 mx-auto;
}
#color-panel #color-name{
    visibility: hidden;
}
#color-panel:hover #color-name{
    visibility: visible;
}
